body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Flower_of_Life_Infinite_Pattern_Sacred_Geometry.png/777px-Flower_of_Life_Infinite_Pattern_Sacred_Geometry.png);
}

header{
    margin-bottom: 30px;
}

img{
    float: left;
    padding-right: 10px;
}

p{
    line-height: 30px;
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}

hr{
    border-color: whitesmoke;
    border-width: 3px;
}

.card-body{
    background-color: black;
}